
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FCF5EB;
}

body {
    overflow: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
margin-left: 30px;
    font-size: 13px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #12f31d;
}

nav {
    padding: 30px 50px;
    font-family: sans-serif;
    position: fixed;
    background-color: #FCF5EB;
    height: 90px;
    width: 100%;
}

.container img {
    margin-left: 40px;
    margin-top: 20px;
}

nav button {
    width: 170px;
    height: 50px;
    border-radius: 100px;
    margin-left: 30px;
    cursor: pointer;
}

.img img {
    margin: 0 22.8px;
    padding: 0 24px;
    box-sizing: border-box;
   
    margin-top: 105px;
    border-radius: 50px;
    height: 760px;
   }

.img2 img {
    margin-top: 40px;
    width: 100%;
}

.text h1 {
    font-family: sans-serif;
    font-size: 40px;
    width: 900px;
    text-align: center;
    margin: 50px auto;
}

.img3 img {
    margin-top: 40px;
    width: 100%;
}

.text2 {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 190px;
}

.text2 h1 {
    font-size: 48px;
    transition: color 0.3s;
}

.text2 h1:hover {
    color: #12f31d;
}

.text2 img {
    height: 500px;
}

.text3 {
    background-color: #111B21;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text3 h1 {
    font-size: 48px;
    color: white;
    font-family: sans-serif;
}

.text3 a {
    color: #25d366;
    text-decoration: none;
}

.text4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 250px auto;
    max-width: 1200px;
}

.text4 h1 {
    font-family: sans-serif;
    font-size: 60px;
    transition: color 0.3s;
}

.text4 h1:hover {
    color: #12f31d;
}

.text5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 500px auto;
}

.text5 h1 {
    font-family: sans-serif;
    font-size: 60px;
    transition: color 0.3s;
}

.text5 h1:hover {
    color: #12f31d;
}

.text6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.left h1 {
    font-family: sans-serif;
    font-size: 60px;
}

.right img {
    width: 325px;
    height: auto;
}

i {
    color: green;
    font-size: 30px;
 
    width:auto ;
    display: flex;
}

.divBir{
    display: inline;
    padding: 50px;
    position: absolute;
    left: 900px;
    bottom: 200px;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    height: 350px;
}
.container{
    background-color: rgb(142, 243, 142);
    height: 900px;
    width: 1890px;
}
.divIki{
    display: inline;
    padding: 50px;
    position: absolute;
    left: 1400px;
    bottom: 200px;
    background-color: white;
    border-radius: 30px;
    width: 300px;
}
button{
    border-radius: 100px;
    border: black 1px solid;
    background-color: white;
width: 100px;
height: 50px;
}
b{
    font-size: 50px;
    position: absolute;
    bottom: 500px;
}
.p{
    position: absolute;
    bottom: 400px;
    font-size: 20px;
}
.bilgi button{
    position: relative;
    top: 600px;
    width: 50px;
    transition: 1s;
}
footer{
    background-color: black;
    color: white;
  height: 500px;  
}
footer button{
    background-color: rgb(0, 143, 0);
    color: white;
}
small{
    display: block;
}
.link{
    position: absolute;
    left: 300px;
}
.linkIki{
    position: absolute;
    left: 500px;
}
.linkUc{
    position: absolute;
    left: 800px;
}
.linkDord{
    position: absolute;
    left: 1000px;
}
footer p{
    font-size: 20px;
}
footer p:hover{
text-decoration: underline;
}
.container button:hover{
background-color: black;
color: white;
}
.smallBir{
    position: absolute;
    left: 300px;
}
.smallIki{
    position: absolute;
    left: 500px;
}
.smallUc{
    position: absolute;
    left: 800px;
}
.small *:hover{
    text-decoration: underline;
}
.buttons button{
    background-color: black;
    border: 2px solid white;
    transition: 2s;
}
.buttons button:hover{
    border: none;
    background-color: green;

}
.buttonBir{
    position: absolute;
    left: 500px;
    top: 1300px;
}
.buttonIki{
    position: absolute;
    left: 625px;
    top: 1300px;
}
.buttonUc{
    position: absolute;
    left: 750px;
    top: 1300px;
}
.buttonDord{
    position: absolute;
    left: 875px;
    top: 1300px;
}
.container div{
    transition: 2s;
}
.divUc{
    display: none;
    padding: 50px;
    position: absolute;
    left: 900px;
    bottom: 200px;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    height: 350px;
}
.divDord{
    display: none;
    padding: 50px;
    position: absolute;
    left: 1400px;
    bottom: 200px;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    height: 350px;
}
.indir{
    transition: 2s;
}
.indir:hover{
    background-color: white;
    color: black;
}
