*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
form{
    width: 40vw;
    padding: 50px;
    margin: 50px auto;
    text-align: center;
  height: 600px;
    border-radius: 20px;
    font-family: cursive;
    border-radius: 20px;
    box-shadow: 2px 3px 4px 7px rgb(0, 0, 0,0.3);
}
input,button{
    display: block;
    margin: 20px auto;
    padding: 15px;
    border-radius:10px ;
}
button{
    background-color: aqua;
}
i{
    color: green;
    font-size: 30px;
}